<div>
  <Input @value={{this.inputValue}} placeholder="Focus me!" />
  <button type="button" {{on "click" this.focusInput}}>
    Focus Input
  </button>
  <p>Input value: {{this.inputValue}}</p>
</div>